.content {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 20px;
}
.lado-derecho {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.lado-derecho .text {
    display: flex;
    align-items: center;
}

.content-bolillas {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}
.content-bolillas div p {
    text-align: center;
}
.content-bolillas div {
    border: 1px solid #000;
}
.select-bolilla {
    border: 2px solid green !important;
}

.B {
    background-color: #1e9ce5;
}
.I {
    background-color: #fa1010;
}
.N {
    background-color: #fff;
}
.G {
    background-color: green;
}
.O {
    background-color: yellow;
}

.B p {
    font-weight: bold;
    font-size: 20px;
}
.I p {
    font-weight: bold;
    font-size: 20px;
}
.N p {
    font-weight: bold;
    font-size: 20px;
}
.G p {
    font-weight: bold;
    font-size: 20px;
}
.O p {
    font-weight: bold;
    font-size: 20px;
}
p {
    margin: 0;
    padding: 20px;
}
